.cache
venv
.idea
.snakemake
__pycache__
.java

# Input files
fastq_temp/DNA/*
!fastq_temp/DNA/README.md

fastq_temp/*.gz

# Reference files
AWS/GRCh37/*
!AWS/GRCh37/README.md
references/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/*
!references/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/README.md

# Singularity images
Simgs/*
!Simgs/README.md

# Sequencer produced run parameters
RunParameters.xml

# Miscellaneous
Twist_DNA_o*

# Logs, benchmarks and temporary files
logs
benchmarks
mutect2

fastq/DNA/*

CNV/bed
Results
qc
freebayes
alignment
Bam

genefuse.json
