.cache
venv
.idea
.snakemake
__pycache__

# Input files
fastq_temp/DNA/*
!fastq_temp/DNA/README.md

fastq_temp/*.gz

# Reference files
AWS/GRCh37/*
!AWS/GRCh37/README.md

# Singularity images
Simgs/*
!Simgs/README.md

# Sequencer produced run parameters
RunParameters.xml

# Miscellaneous
Twist_DNA_o*

# Log and temporary files
logs
mutect2
